#optional: if commented out all is taken care of by the default settings
# NB. global options apply to all run_ids 
#global_plotting_options:
#  region: ["belgium", "global"]
#  image_format : "png" #options: "png", "pdf", "svg", "eps", "jpg" ..
#  dpi_val : 300
#  fps: 2
#  ERA5:
#    marker_size: 2
#    scale_marker_size: 1
#    marker: "o"
#    # alpha: 0.5
#    2t: 
#      vmin: 250
#      vmax: 300
#    10u:
#      vmin: -40
#      vmax: 40

evaluation:
  metrics  : ["rmse", "mae"]
  regions: ["global", "nhem"]
  summary_plots : true
  ratio_plots : false
  heat_maps : false
  summary_dir: "./plots/"
  plot_ensemble: "members" #supported: false, "std", "minmax", "members"
  plot_score_maps: false #plot scores on a 2D maps. it slows down score computation 
  print_summary: false #print out score values on screen. it can be verbose
  log_scale: false
  add_grid: false
  score_cards: false
  bar_plots: false
  num_processes: 0  #options: int, "auto", 0 means no parallelism (default)
  # baseline: "ar40mckx"

run_ids :
  ar40mckx:
    label: "pretrained model ar40mckx"
    results_base_dir : "./results/"
    mini_epoch: 0
    rank: 0
    streams:
      ERA5:
        channels: ["2t", "10u"] #, "10v", "z_500", "t_850", "u_850", "v_850", "q_850", ]
        evaluation:
          forecast_step: "all"
          sample: "all"
          ensemble: "all" #supported: "all", "mean", [0,1,2]
        plotting:
          sample: [1, 3]
          forecast_step: [1,3, 2]
          ensemble: [0,2,5] #supported: "all", "mean", [0,1,2]
          plot_maps: true
          plot_target: false
          plot_histograms: true
          plot_animations: true
      CERRA:
        channels: ["z_500", "t_850", "u_850"] #, "blah"]
        evaluation:
          forecast_step: "all"
          sample: "all"
        plotting:
          sample: [2, 3, 0]
          forecast_step: [1,3, 4, 5]
          plot_maps: true
          plot_target: false
          plot_histograms: true
          plot_animations: true
      
  c8g5katp:
    label: "2 steps window"
    results_base_dir : "./results/"
    mini_epoch: 0
    rank: 0
    streams:
      ERA5:
        channels: ["2t", "10u", "10v"] #, "10v", "z_500", "t_850", "u_850", "v_850", "q_850", ]
        evaluation:
          forecast_step: "all"
          sample: "all"
          ensemble: "mean" 
        plotting:
          sample: [1, 3]
          forecast_step: [1,3, 2]
          ensemble: "mean" 
          plot_maps: true
          plot_target: false
          plot_histograms: true
          plot_animations: true
