# (C) Copyright 2024 WeatherGenerator contributors.
#
# This software is licensed under the terms of the Apache Licence Version 2.0
# which can be obtained at http://www.apache.org/licenses/LICENSE-2.0.
#
# In applying this licence, ECMWF does not waive the privileges and immunities
# granted to it by virtue of its status as an intergovernmental organisation
# nor does it submit to any jurisdiction.

ERA5 :
  type : anemoi
  filenames : ['aifs-ea-an-oper-0001-mars-o96-1979-2022-6h-v6.zarr']
  #source_exclude : ['w_', 'skt', 'tcw', 'cp', 'tp']
  source_exclude : ["q_50","q_100","q_150","q_200","q_250","q_300","q_400","q_500","q_600","q_700","q_850","q_925","q_1000","t_50","t_100","t_150","t_200","t_250","t_300","t_400","t_500","t_600","t_700","t_850","t_925","t_1000","u_50","u_100","u_150","u_200","u_250","u_300","u_400","u_500","u_600","u_700","u_850","u_925","u_1000","v_50","v_100","v_150","v_200","v_250","v_300","v_400","v_500","v_600","v_700","v_850","v_925","v_1000","z_50","z_100","z_150","z_200","z_250","z_300","z_400","z_500","z_600","z_700","z_850","z_925","z_1000","10u","10v","2d","2t","msl","sp"]
  #target_exclude : ['skt', 'tcw', 'cp', 'tp']
  target_exclude :  ["q_50","q_100","q_150","q_200","q_250","q_300","q_400","q_500","q_600","q_700","q_850","q_925","q_1000","t_50","t_100","t_150","t_200","t_250","t_300","t_400","t_500","t_600","t_700","t_850","t_925","t_1000","u_50","u_100","u_150","u_200","u_250","u_300","u_400","u_500","u_600","u_700","u_850","u_925","u_1000","v_50","v_100","v_150","v_200","v_250","v_300","v_400","v_500","v_600","v_700","v_850","v_925","v_1000","z_50","z_100","z_150","z_200","z_250","z_300","z_400","z_500","z_600","z_700","z_850","z_925","z_1000","10u","10v","2d","2t","msl","sp"]
  # target_channels : ["q_50","q_100","q_150","q_200","q_250","q_300","q_400","q_500","q_600","q_700","q_850","q_925","q_1000","t_50","t_100","t_150","t_200","t_250","t_300","t_400","t_500","t_600","t_700","t_850","t_925","t_1000","u_50","u_100","u_150","u_200","u_250","u_300","u_400","u_500","u_600","u_700","u_850","u_925","u_1000","v_50","v_100","v_150","v_200","v_250","v_300","v_400","v_500","v_600","v_700","v_850","v_925","v_1000","z_50","z_100","z_150","z_200","z_250","z_300","z_400","z_500","z_600","z_700","z_850","z_925","z_1000","10u","10v","2d","2t","msl","sp"]
  target_channels : ['skt', 'tcw', 'cp', 'tp']
  loss_weight : 1.
  masking_rate : 0.6
  masking_rate_none : 0.05
  token_size : 8
  tokenize_spacetime : True
  max_num_targets: -1
  embed : 
    net : transformer
    num_tokens : 1
    num_heads : 8
    dim_embed : 256
    num_blocks : 2
  embed_target_coords :
    net : linear
    dim_embed : 256
  target_readout :
    type : 'obs_value'  # token or obs_value
    num_layers : 2
    num_heads : 4
    # sampling_rate : 0.2
  pred_head :
    ens_size : 1
    num_layers : 1
  channel_weights :
    skt: 0.8
    tcw: 0.5
    cp: 1.5
    tp: 1.2
    # The weights below are ignored since the corresponding channels are excluded above.
    # q_50: 1.58
    # q_100: 0.31
    # q_150: 1.12
    # q_200: 0.75
    # q_250: 1.93
    # q_300: 0.47
    # q_400: 1.45
    # q_500: 0.17
    # q_600: 1.70
    # q_700: 0.88
    # q_850: 0.62
    # q_925: 1.25
    # q_1000: 0.39
    # t_50: 1.84
    # t_100: 0.55
    # t_150: 1.01
    # t_200: 0.23
    # t_250: 1.37
    # t_300: 0.79
    # t_400: 1.66
    # t_500: 0.96
    # t_600: 0.42
    # t_700: 1.19
    # t_850: 0.69
    # t_925: 1.98
    # t_1000: 0.51
    # u_50: 1.49
    # u_100: 0.27
    # u_150: 1.74
    # u_200: 0.92
    # u_250: 0.65
    # u_300: 1.15
    # u_400: 0.35
    # u_500: 1.62
    # u_600: 0.83
    # u_700: 0.13
    # u_850: 1.28
    # u_925: 0.72
    # u_1000: 1.54
    # v_50: 0.99
    # v_100: 1.77
    # v_150: 0.58
    # v_200: 1.34
    # v_250: 0.11
    # v_300: 1.88
    # v_400: 0.44
    # v_500: 1.06
    # v_600: 0.67
    # v_700: 1.22
    # v_850: 0.33
    # v_925: 1.96
    # v_1000: 0.86
    # z_50: 0.20
    # z_100: 1.41
    # z_150: 0.53
    # z_200: 1.68
    # z_250: 0.90
    # z_300: 0.49
    # z_400: 1.17
    # z_500: 0.77
    # z_600: 1.30
    # z_700: 0.15
    # z_850: 1.81
    # z_925: 0.60
    # z_1000: 1.04
    # 10u: 1.51
    # 10v: 0.29
    # 2d: 1.32
    # 2t: 0.94
    # msl: 1.79
    # sp: 0.41